* {
    padding: 0%;
    margin: 0%;

}

.bodyGrid {
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: stretch;
    grid-template-columns: 99%;
    grid-template-rows: 40% auto 200px;
}

.titleAndNav {
    display: grid;
    place-items: center center;
    grid-template-columns: 100%;
    grid-template-rows: 40% 50% 10%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.title {
    grid-column: 1/2;
    grid-row: 2/3;
}

.plotButton {
    grid-column: 1/2;
    grid-row: 3/4;
}

.graph {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.axisInputs {
    display: grid;
    place-items: center center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.xx {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.yy {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}